{% extends "base.html" %} {% block main %}
<div class="container">
    <div class="panel-body">
        <table id="info-list" class="table table-hover">
            <thead>
                <tr>
                    <th style="width: 60px">序号</th>
                    <th>标题</th>
                    <th>类型</th>
                    <th>链接</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(info, index) in infos">
                    <td>
                        <p v-text="index+1"></p>
                    </td>
                    <td>
                        <p v-text="info.title"></p>
                    </td>
                    <td>
                        <p v-text="info.type"></p>
                    </td>
                    <td><a target="_blank" v-bind:href="info.link" v-text="info.link"></a>
                </tr>
            </tbody>
        </table>

        <!-- 分页 -->
        <nav aria-label="">
            <ul class="pager">
              <li id="prePage"><a href="javascript:;" >Previous</a></li>
              <li id="nextPage"><a href="javascript:;">Next</a></li>
            </ul>
        </nav>
    </div>
</div>

<script>
        $(function () {
            var vm = new Vue({
                el: '#info-list',
                data: {
                    infos: [],
                    page: 1,
                    size: 10
                },
                methods: {
                    getList: function () {
                        if (this.page === 1) {
                            $('#prePage').hide()
                        } else if (this.infos.length < 10) {
                            $('#nextPage').hide();
                        } else {
                            $('#prePage, #nextPage').show();
                        }
                        $.getJSON(`/api/sf/query?size=${this.size}&page=${this.page}`).done(function (data) {
                            vm.infos = data.data;
                            // console.log(data);
                        });
                    },
                    goPre: function () {
                        $('#prePage').click(function () {
                            if (vm.page > 1) {
                                vm.page -= 1;
                                vm.getList();
                            }
                        })

                    },
                    goNext: function () {
                        $('#nextPage').click(function () {
                            if (vm.infos.length = 10) {
                                vm.page += 1;
                                vm.getList();
                            }
                        })
                    }
                },
                mounted: function () {
                    this.getList();
                    this.goPre();
                    this.goNext();
                }
            });
        })
    </script>

{% endblock %}
