{% extends "base.html" %} {% block main %}
<div class="container">
    <div class="panel-body">
        <table id="info-list" class="table table-hover">
            <thead>
                <tr>
                    <th style="width: 60px">序号</th>
                    <th>标题</th>
                    <th>类型</th>
                    <th>链接</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(info, index) in infos">
                    <td>
                        <p v-text="index+1"></p>
                    </td>
                    <td>
                        <p v-text="info.title"></p>
                    </td>
                    <td>
                        <p v-text="info.type"></p>
                    </td>
                    <td><a target="_blank" v-bind:href="info.link" v-text="info.link"></a>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script>
        $(function () {
            var vm = new Vue({
                el: '#info-list',
                data: {
                    infos: []
                },
                methods: {
    
                }
            });
    
            $.getJSON('/api/sf/10').done(function (data) {
                vm.infos = data.info;
                console.log(data);
            });
        })
    </script>

{% endblock %}

